*.iml
.gradle
/local.properties
/.idea/
/build
/captures
.DS_Store
.cxx
.externalNativeBuild

# Kodları gizle
app/src/*
!app/src/main/assets/SelectifyAi-1.0.0.apk
!sample_code/

# Anahtar dosyaları
**/KeyDecryptor.java
